<html>
<head>
    <title>Goblog Install Wizard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha512-f8mUMCRNrJxPBDzPJx3n+Y5TC5xp6SmStstEfgsDXZJTcxBakoB5hvPLhAfJKa9rCvH+n3xpJ2vQByxLk4WP2g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/wizard.css"/>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.8/js/bootstrap.min.js" integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5" style="min-height: 600px;">
                <h1 class="fw-light">Goblog Install Wizard</h1>
                <h5>Create your admin account</h5>
                {{ if .errors }}
                <div class="alert alert-danger" role="alert">
                    {{ .errors }}
                </div>
                {{ end }}
                <p>This is the account you will sign in with to write posts and manage the site.</p>
                <form action="/wizard/admin" method="POST" class="py-2" style="max-width: 480px;">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ .email }}" autocomplete="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password (at least 10 characters):</label>
                        <input type="password" class="form-control" id="password" name="password" minlength="10" autocomplete="new-password" required>
                    </div>
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label">Password again:</label>
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" minlength="10" autocomplete="new-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Create account and finish</button>
                </form>
                <p class="text-muted small">The email is only your sign-in name; goblog does not send mail to it. If you forget the password, run <code>goblog reset-admin-password</code> on the server.</p>

                <hr class="my-4">
                <details>
                <summary><strong>Or sign in with GitHub instead</strong></summary>
                <form action="wizard" method="GET" class="py-3">
                    <p>Go to <a href="https://github.com/settings/developers" target="_blank">https://github.com/settings/developers</a>
                    and create a "New OAuth App" to hook this site up to GitHub for logins.
                    </p>
                    <p>Set the callback url to the same URL as this page with <code>/login</code> appended to it.</p>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="client_id" class="form-label">Client ID:</label>
                            <input type="text" class="form-control" id="client_id" name="client_id" placeholder="">
                        </div>
                        <div class="col">
                            <label for="client_secret" class="form-label">Client Secret:</label>
                            <input type="text" class="form-control" id="client_secret" name="client_secret" placeholder="">
                        </div>
                    </div>
                    <p>The GitHub user you sign in with becomes the admin of this site.</p>
                    <button id="github-button" class="btn btn-social btn-github" type="submit">
                        <i class="fab fa-github fa-1x"></i> Sign in with GitHub
                    </button>
                </form>
                </details>
                <div class="mb-4"></div>
                <div class="version text-center">{{ template "_powered_by" . }}</div>
            </div>
        </div>
    </div>
</body>
</html>